APP_NAME=TicketService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8003

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db_ticket
DB_PORT=3306
DB_DATABASE=db_ticket
DB_USERNAME=root
DB_PASSWORD=secret

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# URL Service lain (untuk internal call)
USER_SERVICE_URL=http://user-service:8001
EVENT_SERVICE_URL=http://event-service:8002

JWT_SECRET=
JWT_ALGO=HS256
